/*
 * Selector 种类：(共 6 种)
 *
 * Simple Selector: 通过 元素 (标签) / ID / Class 匹配一个或多个元素
 * Attribute Selector: 通过 属性 / 属性值 匹配一个或多个元素 img[src]
 * Pseudo-classes Selector: 匹配 处于特定状态的 一个或多个元素
 *  * 比如被鼠标指针悬停的元素 a:hover
 *  * 或当前被选中或未选中的复选框
 *  * 或元素是 DOM 树中一父节点的第一个子节点
 *
 * Pseudo-elements: 匹配处于相关的确定位置的一个或多个元素
 *  * 例如每个段落的第一个字
 *  * 或者某个元素之前生成的内容
 * Combinators: 以有效的方式组合两个或更多的选择器用于非常特定的选择的方法。
 *  * 例如，你可以只选择divs的直系子节点的段落，或者直接跟在headings后面的段落
 * Multiple Selector: 通过 , 将一组选择器应用到特定的元素上

*/

/* 更改页面主题：背景颜色、字体、字号。 */
html {
    font-size: 16px;
    font-family: 'ZCOOL XiaoWei', serif; /* font-family: 'Roboto'; */
    background-color: #00539F; /* 更改页面主题颜色 */

}

/* 解析 body 元素 */
body {
    width: 600px; /* 强制页面保持 600px 宽 */
    margin: 0 auto; /* 0 代表上方和下方；auto 代表左右，意思是保持左右对称。 */
    background-color: #FF9500; /* 一种略微偏红的橘色以与深蓝色的 <html> 元素形成反差 */
    padding: 0 20px 20px 20px; /* 设置了上、右、下、左的内边距。 */
    border: 5px solid black; /* 设置了 5px 实线黑色边框。 */
}

/* 为页面主标题定位和添加样式。 */
h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: -3px -3px 2px black;
}

img {
    display: block;
    margin: 0 auto;
}

p, li { /* simple selector , combinators*/
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
